.content-container {
    padding: 20px 150px;
    background: rgba(0, 0, 0, 1);
}

.content-container.gray {
    background: rgba(255, 255, 255, 0.2);
}

.content-container.yellow {
    background: #FFC803;
}

.right {
    text-align: right;
}

@media (max-width: 1024px) {
    .content-container {
        padding: 40px 0px;
        text-align: center;
    }

    .right {
        text-align: center;
    }
}