.home-container {
    display: flex;
    padding: 2em 6em;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    background-image: url("../images/HomeImage.png");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
}

.home-text {
    margin: 10px;
    margin-top: auto;
    text-align: left;
    max-width: 600px;
    line-height: 90%;
}

.home-text.title {
    margin-bottom: 45px;
}

.home-socials > ul {
    list-style-type: none;
}

.home-socials > ul > li {
    margin: 25px 0px;
}

.home-socials .fa {
    color: black;
    transition: all 0.3s;
}

.home-socials .fa:hover {
    color: white;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .home-container {
        padding: 10px;
        padding-top: 100px;
        flex-direction: column;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url("../images/HomeImage.png");
    }

    .home-text {
        color: white;
        text-align: center;
        margin: 10px;
        margin-top: auto;
        max-width: 500px;
    }

    .home-socials {
        visibility: hidden;
        /* hide for now--maybe add icons to navbar? */
        /* margin: 50px auto; */
    }

    /* .home-socials li {
        display: inline;
        padding: 0px 15px;
    }

    .home-socials .fa {
        color: white;
    }

    .home-socials .fa:hover {
        color: black;
        text-decoration: none;
    } */
  }