.home-container {
    display: flex;
    padding: 2em 4em;
    margin-top: 100px;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--primary);
    background-image: url("../images/HomeImage.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

.home-text {
    margin: 10px;
    margin-top: auto;
    text-align: left;
    max-width: 500px;
    line-height: normal;
}

@media (max-width: 1024px) {
    .home-container {
        padding: 0;
        flex-direction: column;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url("../images/HomeImage.png");
        justify-content: center;
        align-items: center;
    }

    .home-text {
        color: white;
        text-align: center;
    }

    .home-socials {
        visibility: hidden;
    }
  }