.photo-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

.photo-flexbox > div {
    height: 250px;
    width: 250px;
    transition: all 0.5s;
    margin: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-flexbox > div:hover {
    transform: scale(1.1);
}