.releases-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.releases-column {
    flex: 50%;
    max-width: 40%;
    margin: 10px;
    padding: 10px 0px;
}

.releases-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto auto;
    margin: 10px;
}

.album {
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
    transition: all 0.5s;
}

.album.small {
    width: 250px;
    height: 250px;
    margin: 10px;
}

.album:hover {
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .album {
        width: 300px;
        height: 300px;
    }

    .album.small {
        width: 150px;
        height: 150px;
        margin: 10px;
    }
  }