.subscribe-form {
    color: white;
    font-family: 'Sen';
    text-transform: uppercase;
    max-width: 900px;
    padding: 10px;
    margin: auto;
    transition: all 2;
}

.subscribe-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subscribe-feedback {
    color: rgb(255, 106, 106);
    font-weight: 800;
    font-size: 1.2em;
    text-align: center;
    margin: 5px;
}

.thank-you {
    position: absolute;
    right: 25%;
    left: 25%;
    padding-top: 100px;
    color: white;
    font-size: 4em;
    transition: all 0.5s;
    z-index: -1;
}

.hide {
    opacity: 0;
}

.subscribe-input::placeholder {
    color: #ffc803c9;
}

.subscribe-input, .subscribe-input:focus {
    max-width: 47%;
    color: #FFC803;
    text-transform: uppercase;
    margin: 20px 10px;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #FFC803;
    background: none;
}

.subscribe-checkbox {
    margin: 5px 0px;
}

.subscribe-checkbox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 2px solid #FADF46;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: none;
    cursor: pointer;
}

.subscribe-checkbox > label {
    color: #FADF46;
    margin-left: 10px;
    font-weight: 800;
    font-size: 1.2em;
}

.subscribe-checkbox > input:checked + label::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #FADF46;
    position: absolute;
    left: 0.3em;
}

.subscribe-checkbox > input:active {
    border: 2px solid #34495E;
}

.subscribe-disclaimer {
    color: white;
    font-weight: 800;
    font-size: 1.1em;
}

.subscribe-disclaimer a {
    color: #FADF46;
    text-decoration: none;
    transition: all 0.3s;
}

.subscribe-disclaimer a:hover {
    color: #616161;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .subscribe-input, .subscribe-input:focus {
      flex-direction: column;
      max-width: 100%;
      margin: 20px 10px;
    }

    .thank-you {
        font-size: 3em;
        right: 0%;
        left: 0%;
    }
  }