@import 'bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&family=Sen:wght@400;700;800&display=swap');
:root {
  --primary: #FFC803;
}

body {
  font-family: 'Sen', 'Sedgwick Ave', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: black;
  color: black;
}

.title {
  font-family: 'Sen';
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3.2vmax;
}

.title.inverted {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 4vmax;
  letter-spacing: 0.5em;
}

.title.inverted.black {
  -webkit-text-stroke-color: black;
}

.subtitle {
  font-family: 'Sedgwick Ave';
  text-transform: uppercase;
  font-size: 1.2em;
}

.wrapper {
  width: 100%;
}

.button {
  padding: 10px 30px;
  margin: 10px 0px;
  border: none;
  border-radius: 25px;
  font-family: 'Sen';
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.3s;
}

.button.yellow {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: black;
}

.button.yellow:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.button.black {
  background-color: black;
  border: 1px solid black;
  color: var(--primary);
}

.button.black:hover {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}